body {
  text-align: center;
  padding: 5%;
}

Button {
  margin: 10px;
}

.notes-list {
  list-style: none;
  padding: 5%;
  margin: 10px;
}

.note {
  border: 1px solid lightgray;
  border-radius: 5px;
  font-style: italic;
  text-align: left;
  padding: 8px;
}
